/**************************************************
                Results-Area Sytles
***************************************************/
    .results-area{
        margin-bottom: 20px;        
    }

    .results-area a{
        text-decoration: none;
        color: white;
    }

    .results-area .no-results{
        background-color: rgba(0, 101, 114, 0.65);
        text-align: center;
        color: white;
        min-width: 700px;
        padding: 160px 100px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 18px;
        border-radius: 3px;
    }

    .result-breadcrum{
        display: grid;
        grid-template-columns: 700px 200px;

        background-color: #d18800d1;
        color: white;
        border-radius: 50px;
        font-family: 'Open Sans';
    }

    .result-breadcrum .result-counter{
        margin: 0px 0px 0px 10px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .result-breadcrum select{
        background-color: #ffa500;
        color: white;
        border-radius: 50px;
        padding: 7px;
        border: 0px;
        max-width: 200px;
        float: right;
        font-family: 'Open Sans';
    }

    .result-breadcrum select:focus{
        outline: none;
    }

    .result-container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 80px 50px 50px 50px;

        font-family: 'Open Sans';
        margin-bottom: 20px;
        margin-top: 30px;
        max-height: 280px;
        border-radius: 3px;
        background-color: rgba(0, 101, 114, 0.65);
    }

    .result-container .result-image-container{
        grid-column: 1/2;
        grid-row: 1/5;
        overflow: hidden;
        border-right: 10px solid #d18800;
    }

    .result-container .result-image-container img{
        max-height: 280px;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .result-container .result-image-container img:hover{
        moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);        
        transform: scale(1.1);
    }

    .result-container h3{
        grid-column: 2/4;

        text-align: center;
        font-size: 22px;
        margin: 30px 30px 20px 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .result-container .heart-icon{
        position: absolute;
        margin-left: 820px;
        margin-top: 25px;
    }

    .result-container .heart-icon img{
        width: 35px;
        cursor: pointer;
    }
    
    .result-container .result-price{
        grid-column: 4/5;
        grid-row: 2/3;

        text-align: center;
        padding: 10px 20px;
        margin-right: 20px;
        font-size: 20px;
        font-weight: bold;
        background-color: #ffa500;
        border-radius: 10px;
        height: 30px;
    }

    .result-container .result-space{
        grid-column: 4/5;
        grid-row: 3/4;

        text-align: center;
        padding: 10px 20px;
        margin-right: 20px;
        font-size: 20px;
        font-weight: bold;
        background-color: #ffa500;
        border-radius: 10px;
        height: 30px;
    }

    .result-container .result-rooms-container{
        display: inline;
        grid-column: 2/4;
        grid-row: 2/3;
        text-align: center;
        margin-top: 10px;
    }

    .result-rooms{
        font-size: 18px;
        font-style: italic;
    }

    .result-container .rooms-img{
        width: 20px;
        margin-right: 15px;
    }

    .result-container .result-location-container{
        display: inline;
        grid-column: 2/4;
        grid-row: 3/4;
        text-align: center;
        margin: 5px;
    }

    .result-location{
        font-size: 18px;
        font-style: italic;
    }

    .result-container .location-img{
        width: 20px;
        margin-right: 10px;
    }

    .result-container .result-options-container{
        display: inline;
        grid-column: 2/4;
        grid-row: 4/5;
        text-align: center;
    }

    .result-container .result-options-container img{
        max-width: 25px;
        margin-right: 25px;
    }

    .result-container .result-options-container img:last-child{
        margin-right: 0px;
    }
    

    /**************************************************
                Paging Sytles
    ***************************************************/
    .paging-container{
        display: grid;
        grid-template-columns: 175px 510px 175px;
        grid-gap: 20px;

        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .paging-container a{
        color: white;
        text-decoration: none;
    }

    .back{
        grid-column: 1/2;

        background-color: rgba(0, 101, 114, 0.65);
        padding: 30px 10px;
        border-radius: 3px;
    }

    .current{
        grid-column: 2/3;

        background-color: rgba(0, 101, 114, 0.65);
        padding: 30px 10px;
        border-radius: 3px;
    }

    .next{
        grid-column: 3/4;

        background-color: rgba(0, 101, 114, 0.65);
        padding: 30px 10px;
        border-radius: 3px;
    }

    .arrow{
        font-weight: bold;
        margin: 5px;
    }