data/phpmyadmin/pma__users.ibd
data/phpmyadmin/pma__users.frm
data/phpmyadmin/pma__usergroups.ibd
data/phpmyadmin/pma__usergroups.frm
data/phpmyadmin/pma__userconfig.ibd
data/phpmyadmin/pma__userconfig.frm
data/phpmyadmin/pma__tracking.ibd
data/phpmyadmin/pma__tracking.frm
data/phpmyadmin/pma__table_uiprefs.ibd
data/phpmyadmin/pma__table_uiprefs.frm
data/phpmyadmin/pma__table_info.ibd
data/phpmyadmin/pma__table_info.frm
data/phpmyadmin/pma__table_coords.ibd
data/phpmyadmin/pma__table_coords.frm
data/phpmyadmin/pma__savedsearches.ibd
data/phpmyadmin/pma__savedsearches.frm
data/phpmyadmin/pma__relation.ibd
data/phpmyadmin/pma__relation.frm
data/phpmyadmin/pma__recent.ibd
data/phpmyadmin/pma__recent.frm
data/phpmyadmin/pma__pdf_pages.ibd
data/phpmyadmin/pma__pdf_pages.frm
data/phpmyadmin/pma__navigationhiding.ibd
data/phpmyadmin/pma__navigationhiding.frm
data/phpmyadmin/pma__history.ibd
data/phpmyadmin/pma__history.frm
data/phpmyadmin/pma__favorite.ibd
data/phpmyadmin/pma__favorite.frm
data/phpmyadmin/pma__export_templates.ibd
data/phpmyadmin/pma__export_templates.frm
data/phpmyadmin/pma__designer_settings.ibd
data/phpmyadmin/pma__designer_settings.frm
data/phpmyadmin/pma__column_info.ibd
data/phpmyadmin/pma__column_info.frm
data/phpmyadmin/pma__central_columns.ibd
data/phpmyadmin/pma__central_columns.frm
data/phpmyadmin/pma__bookmark.ibd
data/phpmyadmin/pma__bookmark.frm
data/phpmyadmin/db.opt
data/performance_schema/db.opt
data/mysql_upgrade_info
data/mysql_error.log
data/mysql/user.frm
data/mysql/user.MYI
data/mysql/user.MYD
data/mysql/time_zone_transition_type.frm
data/mysql/time_zone_transition_type.MYI
data/mysql/time_zone_transition_type.MYD
data/mysql/time_zone_transition.frm
data/mysql/time_zone_transition.MYI
data/mysql/time_zone_transition.MYD
data/mysql/time_zone_name.frm
data/mysql/time_zone_name.MYI
data/mysql/time_zone_name.MYD
data/mysql/time_zone_leap_second.frm
data/mysql/time_zone_leap_second.MYI
data/mysql/time_zone_leap_second.MYD
data/mysql/time_zone.frm
data/mysql/time_zone.MYI
data/mysql/time_zone.MYD
data/mysql/tables_priv.frm
data/mysql/tables_priv.MYI
data/mysql/tables_priv.MYD
data/mysql/table_stats.frm
data/mysql/table_stats.MYI
data/mysql/table_stats.MYD
data/mysql/slow_log.frm
data/mysql/slow_log.CSV
data/mysql/slow_log.CSM
data/mysql/slave_worker_info.ibd
data/mysql/slave_worker_info.frm
data/mysql/slave_relay_log_info.ibd
data/mysql/slave_relay_log_info.frm
data/mysql/slave_master_info.ibd
data/mysql/slave_master_info.frm
data/mysql/servers.frm
data/mysql/servers.MYI
data/mysql/servers.MYD
data/mysql/roles_mapping.frm
data/mysql/roles_mapping.MYI
data/mysql/roles_mapping.MYD
data/mysql/proxies_priv.frm
data/mysql/proxies_priv.MYI
data/mysql/proxies_priv.MYD
data/mysql/procs_priv.frm
data/mysql/procs_priv.MYI
data/mysql/procs_priv.MYD
data/mysql/proc.frm
data/mysql/proc.MYI
data/mysql/proc.MYD
data/mysql/plugin.frm
data/mysql/plugin.MYI
data/mysql/plugin.MYD
data/mysql/ndb_binlog_index.frm
data/mysql/ndb_binlog_index.MYI
data/mysql/ndb_binlog_index.MYD
data/mysql/innodb_table_stats.ibd
data/mysql/innodb_table_stats.frm
data/mysql/innodb_index_stats.ibd
data/mysql/innodb_index_stats.frm
data/mysql/index_stats.frm
data/mysql/index_stats.MYI
data/mysql/index_stats.MYD
data/mysql/host.frm
data/mysql/host.MYI
data/mysql/host.MYD
data/mysql/help_topic.frm
data/mysql/help_topic.MYI
data/mysql/help_topic.MYD
data/mysql/help_relation.frm
data/mysql/help_relation.MYI
data/mysql/help_relation.MYD
data/mysql/help_keyword.frm
data/mysql/help_keyword.MYI
data/mysql/help_keyword.MYD
data/mysql/help_category.frm
data/mysql/help_category.MYI
data/mysql/help_category.MYD
data/mysql/gtid_slave_pos.ibd
data/mysql/gtid_slave_pos.frm
data/mysql/general_log.frm
data/mysql/general_log.CSV
data/mysql/general_log.CSM
data/mysql/func.frm
data/mysql/func.MYI
data/mysql/func.MYD
data/mysql/event.frm
data/mysql/event.MYI
data/mysql/event.MYD
data/mysql/db.frm
data/mysql/db.MYI
data/mysql/db.MYD
data/mysql/columns_priv.frm
data/mysql/columns_priv.MYI
data/mysql/columns_priv.MYD
data/mysql/column_stats.frm
data/mysql/column_stats.MYI
data/mysql/column_stats.MYD
data/mysql.pid
data/multi-master.info
data/ibdata1
data/ib_logfile1
data/ib_logfile0
data/auto.cnf
data/aria_log_control
data/aria_log.00000001
data/279-a-PhilipK.local.err
data/279-a-PhilipK.local.pid
data/idontgiveafuck/abadsfasdf.frm
data/idontgiveafuck/abadsfasdf.ibd
data/apploft-23-130.local.apploft.de.err
data/idontgiveafuck/db.opt
data/tc.log
