/**************************************************
                 MY-OFFERS Sytles
***************************************************/

.result-title a{
    text-decoration: none;    
    color: white;
}

.realtor-infos{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 300px;
    grid-gap: 120px;

    background-color: rgba(0, 101, 114, 0.90);
    padding: 30px 50px 30px 50px;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
}

.left-column{
    padding-top: 20px;
    padding-left: 20px;
}

.left-column img{
    width: 170px;
    text-align: center;
}

.left-column .name{
    display: block;
    margin-top: 30px;
    padding: 10px 20px;
    color: white;
    background-color: #ffa500;
    font-weight: bold;
    border-radius: 50px;
}

.right-column{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    grid-gap: 10px;

    padding-top: 50px;
    text-align: left;
}

.right-column img{
    width: 30px;
}

.no-offers{
    background-color: rgba(0, 101, 114, 0.90);
    padding: 30px 50px 30px 50px;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}