
/**************************************************
                 LOGIN-PAGE Sytles
***************************************************/
body.login-page{
    display: initial;
}

img.login-logo{
    position: absolute;
    width: 250px;
    padding: 10px;
    background-color: rgba(0, 101, 114, 0.65);
    margin: 15px 20px;
    border-radius: 3px;
}


.login-area {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;

}

    /**************************************************
                 LOGIN-FORM Sytles
    ***************************************************/

    .login-form{
        padding: 40px 0px 20px 0px;;
    }

    .login-form input{
        border-radius: 50px;
        padding: 10px 20px;;
        font-size: 17px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 280px;
        border: 0px;

        border: 5px solid white;
    }

    .login-form input:focus{
        border: 5px solid #ffa500;
        outline: none;
        transition: 0.8s;
    }

    .login-form .error-message{
        color: white;
        background-color: red;
        display: block;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 15px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 280px;
        font-weight: bold;
        font-family: 'Open Sans';
    }


    /**************************************************
                 SIGNUP-FORM Sytles
    ***************************************************/

    .signup-form{
        padding: 40px 90px 20px 60px;
        max-width: 410px;
    }

    .signup-form input{
        border-radius: 50px;
        padding: 7px 30px;;
        font-size: 15px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
        border: 0px;
        border: 5px solid white;
    }

    .signup-form input:focus{
        border: 5px solid #ffa500;
        outline: none;
        transition: 0.8s;
    }

    .signup-form input[type="submit"]{
        padding: 0px !important;
        margin-left: 180px;
    }

    .signup-form .names{
        display: grid;
        grid-gap: 90px;
        grid-template-columns: 1fr 1fr;
    }

    .signup-form .adress{
        display: grid;
        grid-gap: 90px;
        grid-template-columns: 2fr 1fr;
    }

    .signup-form .place{
        display: grid;
        grid-gap: 90px;
        grid-template-columns: 1fr 2fr;
    }

    .signup-form .is-realtor-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-bottom: 20px;
        margin-bottom: 10px;
        background-color: 
    }

    .signup-form .is-realtor-description{
        color: white;
        font-size: 16px;
        font-family: 'Open Sans';
    }

    .signup-form input[type=checkbox]{
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
        padding: 10px;
        margin-left: 100px;
        margin-top: 4px;
    }

    .signup-form .error-message{
        color: white;
        background-color: red;
        display: block;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 15px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        min-width: 440px;
        font-weight: bold;
        font-family: 'Open Sans';
    }

    .signup-form .success-message{
        color: white;
        background-color: #02dd40;
        display: block;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 15px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        min-width: 440px;
        font-weight: bold;
        font-family: 'Open Sans';
    }

    .signup-form .success-message a{
        color: white;
    }