/**************************************************
                 MY-OFFERS Sytles
***************************************************/

.sub-line{
    display: grid;
    grid-template-columns: 690px 200px;
    grid-gap: 10px;
    grid-template-rows: 40px;
}


.add-offer-container{
    background-color: rgba(255, 165, 0, 0.8);
    border-radius: 50px;
    max-height: 40px;
}

.add-offer-container:hover{
    background-color: #d18800;
}

.add-offer-container span{
    font-weight: bold;
    color: white;
    margin: 9px 20px 0px 20px;
    position: absolute;
}

.add-offer-container img{
    max-width: 40px;
    margin-left: 160px;
}

.my-offers-container{
    display: grid;
    grid-template-columns: 800px 90px;
    grid-gap: 10px;

}

.edit-delete-container{
    font-family: 'Open Sans';
    margin-bottom: 20px;
    margin-top: 30px;
    max-height: 155px;
    border-radius: 3px;
    background-color: rgba(0, 101, 114, 0.65);
    padding-top: 45px;
    padding-bottom: 60px;
}

.edit-delete-container img{
    width: 40px;
    margin-top: 30px;
    display: block;
    cursor: pointer;
    padding: 10px 22px 15px 28px;
}

.edit-delete-container img:hover{
    background-color: #d18800;
}

.edit-delete-container .delete{
    width: 40px;
    margin-top: 0px;
    display: block;
    cursor: pointer;
    padding: 10px 24px 15px 25px;
}
