/**************************************************
                 Offer-Page Sytles
***************************************************/

.result-title a{
    text-decoration: none;
    color: white;
}

.offer h3{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold
}

.offer h4{
    display: block;
    text-align: center;
    font-weight: bold
}

.additional-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;

    background-color: rgba(0, 101, 114, 0.65);
    padding: 30px 0px 30px 0px;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
}


.extras-container{
    background-color: rgba(0, 101, 114, 0.65);
    padding: 30px 0px 70px 0px;
    margin-bottom: 20px;
    border-radius: 3px; 
}

.extras {
    text-align: center;
}

.extras-container img{
    max-width: 45px;
    margin: 30px;
}

.realtor-info{
    background-color: rgba(0, 101, 114, 0.65);
    padding: 30px 0px 70px 0px;
    margin-bottom: 20px;
    border-radius: 3px; 
    text-align: center;
}

.realtor-info img{
    width: 100px;
    margin-top: 10px;
}

.realtor-info span{
    display: block;
    margin-top: 30px;
    padding: 10px 20px;
    color: white;
    background-color: #ffa500;
    font-weight: bold;
}

.realtor-info a{
    text-decoration: none;
}
